<md-card>
  <md-card-header>
    <div md-card-avatar class="personal-detail-header-image"></div>
    <md-card-title>Car detail</md-card-title>
  </md-card-header>
  <md-card-content>
    <table cellpadding="1">
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="First name">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Last name">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="email">
          </md-input-container>
        </td>
      </tr>
    </table>
  </md-card-content>
</md-card>
